.wrapper{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: .5rem;
    padding: .5rem;
    justify-content: space-between;
}

.label {
    display: 'block';
    margin: '0.5rem';
}

.input{
    border: none;
    width: 100%;
}

.input:focus{
    outline: none;
}