.bannerSection {
    width: 19.063rem;
    height: 18.75rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    position: relative;
}

.iconBtn {
    cursor: pointer;
    margin-top: .5rem;
    margin-right: .8rem;
}

.iconBtn.edit {
    position: relative;
    left: .4rem;
}