.wrapper {
    width: 100%;
    height: 4.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25rem;
    border-top: 1px solid #E8ECF2;
    
}

.wrapper > div{
    display: flex;
    gap: 2.5rem;
}